<div class="form-group">
    <label>Nombre</label>
    <input class="form-control">
    <label>Apellido</label>
    <input class="form-control">
    <label>Motivo del contacto </label>
    <input class="form-control">
    <label>mensaje </label>
    <input class="form-control">
</div>
<button class="btn btn-primary">Enviar</button>